#p_1 {
    width: 500px;
    padding: 1em;
    background-color: rgb(230, 90, 9);
    text-align: left;
}

#p_2 {
    width: 500px;
    padding: 1em;
    background-color: rgb(180, 16, 180);
    text-align: right;
}

.first,
#p_2 span:nth-of-type(1) {
    text-decoration: underline dashed;
}

.second,
#p_2 span:nth-of-type(2) {
    text-decoration: underline dotted;
}

.third,
#p_2 span:nth-of-type(3) {
    text-decoration: underline wavy;
}