.boxshadow {
    position: relative;
    width: 350px;
    padding: 30px;
    font-family: 'bookman old style';
    font-size: 30px;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 30px;
    background: linear-gradient(to right, #fff, #eee, #fff);
}
div::before {
    content: "";
    display: block;
    position: absolute;
    width: 92%;
    height: 67%;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    margin: auto;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.7);
    z-index: -1;
    transform: rotate(5deg);
}

div::after {
    content: "";
    display: block;
    position: absolute;
    width: 92%;
    height: 67%;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    margin: auto;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.7);
    z-index: -1;
    transform: rotate(-5deg);

}