h1 {
    font-family:georgia;
    color:#9b3402;
    text-align:center;
    margin-top:40px;
    text-shadow: 1px 1px 1px #fff, 2px 2px 1px #555 ;
}
h2{
    font-family:georgia;
    color:#9b3402;
    text-align:center;
    margin-top:40 px;
}
p {
    font-family: helvetica,tahoma,verdana;
    font-size:14px ;
    margin: 15px;
}
h2+img {
    width: 250px;
    float: left;
    margin: 10px;
    border:1px solid #777;
    background-color: #fff;
    box-shadow: 3px 3px 1px #ccc;
}
img {
    width: 480px;
    display: block;
    margin: 15px auto;
    padding: 10px;
    border-color: #fff;
    box-shadow: 3px 3px 1 px #ccc;
}
p+h2+img {
    font-weight: bold;
    font-style: italic;
}
a~ul {
    color: #0254a6;
    font-size: 14px;
    font-family:Helvetica,tahoma,verdana;
    line-height: 1.4;

}